<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Référencement de documents</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../js/script.js">
</head>
<body>
    <div class="background"></div>
    <div class="full-width-header">
        <a class="home" href="accueil.html" id="homeMenuButton" aria-haspopup="true" aria-expanded="false">
            <img src="../static/images/logo-SNCF.png" alt="SNCF Logo">
        </a>
        <h1>Accueil</h1>
        <div class="dropdown">
            <!-- Menu déroulant activé uniquement au clic -->
            <a href="#" aria-haspopup="true" aria-expanded="false">
                <img src="../static/images/icône-menu.svg" id="dropdownMenuButton" alt="Menu Icon" style="max-width: 50px;">
            </a>
            <!-- Contenu du menu déroulant -->
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-custom" aria-labelledby="dropdownMenuButton">
                <button type="button" class="close" aria-label="Close" id="closeMenuButton" style="background: transparent; border: none; color: white; font-size: 1.5rem; position: absolute; top: 10px; right: 10px;">
                    &times;
                </button>
                
                <a class="dropdown-item" href="#">Accueil</a>
                <a class="dropdown-item" href="tfexcel.html">Text file to Excel </a>
                <a class="dropdown-item" href="tfword.html">Text file to Word </a>
                <a class="dropdown-item" href="etword.html">Excel to Word</a>
            </div>
        </div>
    </div>

    <div class="menu-container">
        <a class="selection_1" href="tfexcel.html">
            <div class="text-bottom">Text file to Excel</div>
            <img src="C:\Users\0202229P\Downloads\Project Code\static\images\tfexcel.png" alt="img-Excel">
        </a>
        <a class="selection_2" href="tfword.html">
            <div class="text-bottom">Text file to Word</div>
            <img src="C:\Users\0202229P\Downloads\Project Code\static\images\tfword.png" alt="img-Excel">
        </a>
        <a class="selection_3" href="etword.html">
            <div class="text-bottom">Excel to Word</div>
            <img src="C:\Users\0202229P\Downloads\Project Code\static\images\exceltoword.png" alt="img-Excel">
        </a>
    </div>

    <!-- jQuery (version complète) -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Popper.js version 1.x -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <!-- Bootstrap 4.5.2 JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Inclusion du fichier script.js -->
    <script src="../js/script.js"></script>

</body>
<footer>
    <div class="footer-content">
        <p>&copy; 2025 SNCF. Tous droits réservés.</p>
        <p>
            <a href="mention-legales.html">Mentions légales</a>
            <a href="politique-de-confidentialite.html">Politique de confidentialité</a>
            <a href="contact.html">Contactez-nous</a>
        </p>
    </div>
</footer>
</html>
